<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="./index.html" class="site-logo">
                        <!-- <img src="img/logo.png" alt=""> -->
                        ZD75
                    </a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <form class="header-search-form">
                        <input type="text" placeholder="Buscar juegos ...." />
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="user-panel">
                        <div class="up-item">
                            <i class="flaticon-profile"></i>
                            <a href="#">Iniciar sesion</a>
                        </div>
                        <div class="up-item">
                            <div class="shopping-card">
                                <i class="flaticon-bag"></i>
                                <span>0</span>
                            </div>
                            <a href="#">Carrito de compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PS3</a></li>
                <li>
                    <a href="#">PS4<span class="new">New</span></a>
                </li>

                <li>
                    <a href="#">CARDS</a>
                    <ul class="sub-menu">
                        <li><a href="#">Playstation</a></li>
                        <li><a href="#">Xbox</a></li>
                        <li><a href="#">Nintendo</a></li>
                        <li><a href="#">Steam</a></li>
                        <li><a href="#">Fortnite</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="./product.html">Product Page</a></li>
                        <li><a href="./category.html">Category Page</a></li>
                        <li><a href="./cart.html">Cart Page</a></li>
                        <li><a href="./checkout.html">Checkout Page</a></li>
                        <li><a href="./contact.html">Contact Page</a></li>
                    </ul>
                </li>
                <li><a href="#">TUTORIAL</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- Header section end -->